<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mandrain_mate.mapper.BookMapper">

    <resultMap id="BaseResultMap" type="com.mandrain_mate.pojo.Book">
            <id property="bookId" column="book_id" jdbcType="BIGINT"/>
            <result property="bookImg" column="book_img" jdbcType="VARCHAR"/>
            <result property="bookIntro" column="book_intro" jdbcType="VARCHAR"/>
            <result property="bookName" column="book_name" jdbcType="VARCHAR"/>
            <result property="bookLevel" column="book_level" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        book_id,book_img,book_intro,
        book_name,book_level
    </sql>
</mapper>
