<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mandarin_mate.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.mandarin_mate.pojo.User">
            <id property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="isvip" column="isVIP" jdbcType="TINYINT"/>
            <result property="bookId" column="book_id" jdbcType="TINYINT"/>
            <result property="avatarPath" column="avatar_path" jdbcType="VARCHAR"/>
            <result property="learningLevel" column="learning_level" jdbcType="TINYINT"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="userMail" column="user_mail" jdbcType="VARCHAR"/>
            <result property="openId" column="open_id" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,nick_name,password,
        isVIP,avatar_path,learning_level,
        phone,user_mail,open_id
    </sql>
    <select id="selectByOpenId" resultMap="BaseResultMap" resultType="com.mandarin_mate.pojo.User">
        select open_id
        from user
    </select>

    <update id="updateInfo" parameterType="com.mandarin_mate.pojo.dto.UserDTO">
        update user
        <set>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="bookId != null">
                book_id = #{bookId},
            </if>
            <if test="avatarPath != null">
                avatar_path = #{avatarPath},
            </if>
            <if test="learningLevel != null">
                learning_level = #{learningLevel},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="userMail != null">
                user_mail = #{userMail},
            </if>
            update_time = NOW()
        </set>
        where user_id = #{userId}

    </update>






</mapper>
