<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mandarin_mate.mapper.WordsInfoMapper">

    <resultMap id="BaseResultMap" type="com.mandarin_mate.pojo.WordsInfo">
            <id property="wordsId" column="words_id" jdbcType="BIGINT"/>
            <result property="bookId" column="book_id" jdbcType="BIGINT"/>
            <result property="wordsSpell" column="words_spell" jdbcType="VARCHAR"/>
            <result property="wordsTone" column="words_tone" jdbcType="VARCHAR"/>
            <result property="example" column="example" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="typeTag" column="type_tag" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        words_id,book_id,words_spell,
        words_tone,example,content,
        type_tag
    </sql>
</mapper>
